In [18]:
import pandas as pd
import yfinance as yf
import streamlit as st
import datetime as dt
import numpy as np
import librerie.importazioni as imp
import librerie.pattern as pt
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [19]:
#instruments = pd.read_csv("Documents/Python/Python_Analisi_Quantitativa/WebAppStream/dati_input/strumenti.csv")
instruments = pd.read_csv("dati_input/strumenti.csv")
symbols = instruments['Symbol'].sort_values().tolist()

In [20]:
ticker = st.sidebar.selectbox(
    'SCEGLI STRUMENTO',
     symbols)

In [21]:
dfall=imp.import_mt5("dati_input/DAX.csv")
inizio=str(dfall.index.min())
fine=str(dfall.index.max())

In [22]:
dfall

                         open      high       low     close  volume
date_time
2017-02-13 11:15:00  11726.00  11734.90  11722.10  11733.40       0
2017-02-13 11:30:00  11732.90  11739.10  11732.10  11733.90       0
2017-02-13 11:45:00  11733.40  11736.10  11730.60  11733.60       0
2017-02-13 12:00:00  11733.10  11748.10  11732.10  11742.90       0
2017-02-13 12:15:00  11743.10  11747.60  11738.60  11747.10       0
...                       ...       ...       ...       ...     ...
2022-01-17 20:45:00  15935.68  15943.64  15932.45  15941.47       0
2022-01-17 21:00:00  15941.96  15942.65  15932.47  15939.42       0
2022-01-17 21:15:00  15938.46  15940.68  15933.45  15936.95       0
2022-01-17 21:30:00  15936.47  15941.68  15935.45  15936.90       0
2022-01-17 21:45:00  15937.44  15939.95  15931.43  15935.46       0

[88562 rows x 5 columns]

In [39]:
dfts=pt.pattern("dati_input/DAX.csv")
dfts["DOWname"]=np.where((dfts.index.dayofweek==0),"lunedì",
                         np.where((dfts.index.dayofweek==1),"martedì",
                         np.where((dfts.index.dayofweek==2),"mercoledì",
                         np.where((dfts.index.dayofweek==3),"giovedì",
                         np.where((dfts.index.dayofweek==4),"venerdì",
                         np.where((dfts.index.dayofweek==5),"sabato",
                         np.where((dfts.index.dayofweek==6),"domenica",0)))))))
dfts["MOYname"]=np.where((dfts.index.month==1),"gennaio",
                         np.where((dfts.index.month==2),"febbraio",
                         np.where((dfts.index.month==3),"marzo",
                         np.where((dfts.index.month==4),"aprile",
                         np.where((dfts.index.month==5),"maggio",
                         np.where((dfts.index.month==6),"giugno",
                         np.where((dfts.index.month==7),"luglio",
                         np.where((dfts.index.month==8),"agosto",
                         np.where((dfts.index.month==9),"settembre",
                         np.where((dfts.index.month==10),"ottobre",
                         np.where((dfts.index.month==11),"novembre",
                         np.where((dfts.index.month==12),"dicembre",
                         0))))))))))))

In [41]:
dfts.MOYname.head()

date_time
2017-02-13    febbraio
2017-02-14    febbraio
2017-02-15    febbraio
2017-02-16    febbraio
2017-02-17    febbraio
Name: MOYname, dtype: object